__pycache__/
dist/
docs/build/
*videometer.egg-info/
.vscode/
src/videometer/DLLs*
src/videometer/test.py
src/videometer/testVEnv/
src/videometer/tests/TestImages/TestImagesWriting/*
*tmp*
.hypothesis
myenv/
**/.venv/**
*.cs